# Git ignore para un proyecto Dockerizado con Django + React

# General
# -----------------------------------------------------------------------------
.DS_Store
*.log
*.pot
*.pyc
local_settings.py


# Entornos Virtuales y Dependencias de Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
!.env.codespaces



# Archivos de Entorno 
# -----------------------------------------------------------------------------
.env
.env.*
!.env.example
backend/.env
frontend/.env.local
frontend/.env.production

# Docker
# -----------------------------------------------------------------------------
docker-compose.override.yml


# Django
# -----------------------------------------------------------------------------
# Base de datos local si se usara
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/backend/media/
/backend/staticfiles/

# Archivos subidos por los usuarios
/backend/media/


# Frontend (Node / Vite / React)
# -----------------------------------------------------------------------------
/frontend/node_modules/
/frontend/dist/
/frontend/.pnp
/frontend/.pnp.js
/frontend/.vite/
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*


# IDE / Configuraciones de Editor
# -----------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
